.checkout {
  margin: 2rem auto;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.15);
}

.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout-form input,
.checkout-form textarea {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: inherit;
  font-size: 1rem;
  background-color: white;
  color: black;
}

body.dark .checkout-form input,
body.dark .checkout-form textarea {
  background-color: #2d2d2d;
  color: white;
  border: 1px solid #666;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.order-summary {
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  color: var(--color-text);
}

.total {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.place-order-btn {
  padding: 0.7rem 1.2rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.place-order-btn:hover {
  background-color: #005fa3;
}
